<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo webpage</title>
</head>
<body>
    <header>
        <h1>Hello app</h1>
    </header>
    <nav>
        <ul>
            <li>Menu 1</li>
            <li>Menu 2</li>
            <li>Menu 3</li>
        </ul>
    </nav>
    <section>
        {% if name %}
            <h4>Hello, {{name}}</h4>
        {% else %}
            <h4>Who are you?</h4>
        {% endif %}
    </section>
    <footer>
        <h4>Footer area</h4>
    </footer>
</body>
</html>