version: "3"

services:
  app:
    build: .
    ports:
      - "80:8080"
    env_file:
      - .env
    depends_on:
      - mongo_db
  mongo_db:
    image: mongo
    ports:
      - "27017:27017"